---
import { getCollection } from 'astro:content'
import ProjectCard from '../cards/ProjectCard.astro'
import { fileIndex } from '../../utils/files'

type Props = {
  selection?: number[]
}

const { selection } = Astro.props

const projects = (await getCollection('projects'))
  .filter(project => (selection ? selection.includes(fileIndex(project.id)) : true))
  .sort((project1, project2) => fileIndex(project1.id) - fileIndex(project2.id))
  .map(project => project.data)
---

<section class="my-8 grid w-fit gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
  {projects.map(project => <ProjectCard title={project.title} icon={project.icon} abstract={project.abstract} github={project.github} link={project.link} />)}
</section>
