---
import { getCollection } from 'astro:content'
import { slugify } from '../../utils/slugs'
import BaseLayout from '../../layouts/BaseLayout.astro'
import IconHeader from '../../components/general/IconHeader.astro'
import MarkdownContainer from '../../components/general/MarkdownContainer.astro'

export async function getStaticPaths() {
  return (await getCollection('notes')).map(note => ({
    params: { slug: note.slug },
    props: { note },
  }))
}

const { note } = Astro.props
const { Content } = await note.render()
---

<BaseLayout title={note.data.title}>
  <div class="max-w-3xl">
    <section class="mb-12 flex gap-8 max-md:flex-col max-md:gap-4 md:items-center">
      <a class="hover:sepia" href={note.data.link} target="_blank">
        <img class="h-20 w-fit grayscale" src={`/author/${slugify(note.data.author.split(' & ')[0])}.webp`} alt={note.data.author} transition:name={note.slug + '-icon'} />
      </a>
      <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold" transition:name={note.slug + '-title'}>{note.data.title}</h1>
        <div class="font-semibold text-gray-400" transition:name={note.slug + '-author'}>{note.data.author}</div>
      </div>
    </section>
    <MarkdownContainer>
      <Content components={{ h2: IconHeader }} />
    </MarkdownContainer>
  </div>
</BaseLayout>
